<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lat</key>
		<string>-23.6380539</string>
		<key>lng</key>
		<string>-46.5341478</string>
		<key>location</key>
		<string>Av. Dos Estados, 8500</string>
		<key>name</key>
		<string>Supercenter Santo André</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.629461</string>
		<key>lng</key>
		<string>-46.6675888</string>
		<key>location</key>
		<string>Av. Washington Luis, 5859</string>
		<key>name</key>
		<string>Extra Aeroporto</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.629417</string>
		<key>lng</key>
		<string>-46.689615</string>
		<key>location</key>
		<string>Av. Santo Amaro, 5460</string>
		<key>name</key>
		<string>Pão de Açúcar - Borba Gato</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.6288887</string>
		<key>lng</key>
		<string>-46.6451343</string>
		<key>location</key>
		<string>Av. Jabaquara, 2979</string>
		<key>name</key>
		<string>Supercenter Indianopolis</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.6253623</string>
		<key>lng</key>
		<string>-46.547402</string>
		<key>location</key>
		<string>R. Joana Angélica, 711</string>
		<key>name</key>
		<string>COOP - Unidade São Caetano</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.6242309</string>
		<key>lng</key>
		<string>-46.6871827</string>
		<key>location</key>
		<string>Av. Guido Caloi, 25</string>
		<key>name</key>
		<string>Extra - João Dias</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.6239733</string>
		<key>lng</key>
		<string>-46.710294</string>
		<key>location</key>
		<string>Av. Das Nações Unidas, 16741</string>
		<key>name</key>
		<string>Extra - Morumbi</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.622456</string>
		<key>lng</key>
		<string>-46.684753</string>
		<key>location</key>
		<string>Av. Santo Amaro, 4530</string>
		<key>name</key>
		<string>Pão de Açúcar - Santo Amaro</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.621037</string>
		<key>lng</key>
		<string>-46.563622</string>
		<key>location</key>
		<string>R. Maranhão, 975</string>
		<key>name</key>
		<string>Pão de Açúcar - São Caetano</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.617913</string>
		<key>lng</key>
		<string>-46.635608</string>
		<key>location</key>
		<string>R. Carneiro da Cunha, S/N</string>
		<key>name</key>
		<string>Pão de Açucar - Saúde</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.615231</string>
		<key>lng</key>
		<string>-46.742249</string>
		<key>location</key>
		<string>R. Marechal de Moura, 30</string>
		<key>name</key>
		<string>Pão de Açúcar - Portal</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.614422</string>
		<key>lng</key>
		<string>-46.67902</string>
		<key>location</key>
		<string>Av. Santo Amaro, 3271</string>
		<key>name</key>
		<string>Pão de  Açúcar - Brooklin</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.6140091</string>
		<key>lng</key>
		<string>-46.5775779</string>
		<key>location</key>
		<string>R. Sen. Vergueiro, 428</string>
		<key>name</key>
		<string>Extra - São Caetano do Sul</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.6135351</string>
		<key>lng</key>
		<string>-46.640201</string>
		<key>location</key>
		<string>Al. dos Guatás, 210</string>
		<key>name</key>
		<string>Pão de Açúcar - Guatás</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.612863</string>
		<key>lng</key>
		<string>-46.666364</string>
		<key>location</key>
		<string>Al. Maracatins, 1545</string>
		<key>name</key>
		<string>Pão de Açúcar - Maracatins</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.6124853</string>
		<key>lng</key>
		<string>-46.4883332</string>
		<key>location</key>
		<string>Av. Sapopemba, 13560</string>
		<key>name</key>
		<string>Todo Dia - São Mateus</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.6112862</string>
		<key>lng</key>
		<string>-46.5720988</string>
		<key>location</key>
		<string>Av. Conde Franc Matarazzo, 838</string>
		<key>name</key>
		<string>Sam&apos;s São Caetano</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.6103234</string>
		<key>lng</key>
		<string>-46.6865688</string>
		<key>location</key>
		<string>Av. Padre Antonio José dos Santos, 872</string>
		<key>name</key>
		<string>Pão de Açúcar - Padre Antonio</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.609553</string>
		<key>lng</key>
		<string>-46.667999</string>
		<key>location</key>
		<string>Av. Ibirapuera, 3068</string>
		<key>name</key>
		<string>Pão de Açúcar - Moema</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.609216671</string>
		<key>lng</key>
		<string>-46.75330638</string>
		<key>location</key>
		<string>R. João Batista de Oliveira, 47</string>
		<key>name</key>
		<string>Extra - Taboão da Serra</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.6085331</string>
		<key>lng</key>
		<string>-46.7569892</string>
		<key>location</key>
		<string>R. Do Tesouro, 692</string>
		<key>name</key>
		<string>Todo Dia - Taboão</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.604409</string>
		<key>lng</key>
		<string>-46.727463</string>
		<key>location</key>
		<string>R. Santo Américo, 275</string>
		<key>name</key>
		<string>Pintou Limpeza - Santo Américo</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.602905</string>
		<key>lng</key>
		<string>-46.650388</string>
		<key>location</key>
		<string>R. Santa Generosa, 80</string>
		<key>name</key>
		<string>Pão de Açúcar - Rubem Berta</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.6026774</string>
		<key>lng</key>
		<string>-46.6394517</string>
		<key>location</key>
		<string>R. Dr. Altino Arantes, 268</string>
		<key>name</key>
		<string>Pão de Açúcar - Vila Clementino</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.6026008</string>
		<key>lng</key>
		<string>-46.725213</string>
		<key>location</key>
		<string>Av Giovanni Gronchi, 2400</string>
		<key>name</key>
		<string>Eco Ponto Giovane</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.600853</string>
		<key>lng</key>
		<string>-46.666669</string>
		<key>location</key>
		<string>Av. Lavandisca, 249</string>
		<key>name</key>
		<string>Pão de Açucar - Lavandisca</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.599883</string>
		<key>lng</key>
		<string>-46.658893</string>
		<key>location</key>
		<string>Av. Ibirapuera, 1770</string>
		<key>name</key>
		<string>Pão de Açúcar - Ibirapuera</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5984508</string>
		<key>lng</key>
		<string>-46.516504</string>
		<key>location</key>
		<string>R. Benedito Jacinto Mendes, 77</string>
		<key>name</key>
		<string>Todo Dia - Sapopemba</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.593219</string>
		<key>lng</key>
		<string>-46.677284</string>
		<key>location</key>
		<string>R. Clodomiro Amazonas, 995</string>
		<key>name</key>
		<string>Pão de Açúcar - Clodomiro Amazonas</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.592345908</string>
		<key>lng</key>
		<string>-46.836090087</string>
		<key>location</key>
		<string>Rod Raposo Tavares, S/N</string>
		<key>name</key>
		<string>Pão de Açúcar - Granja Viana</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5905973</string>
		<key>lng</key>
		<string>-46.6201422</string>
		<key>location</key>
		<string>Av. Dr. Ricardo Jafet, 1501</string>
		<key>name</key>
		<string>Extra - Ricardo Jafet</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5902831</string>
		<key>lng</key>
		<string>-46.733109</string>
		<key>location</key>
		<string>R. Garcia Lorca, 301</string>
		<key>name</key>
		<string>Extra - Anchieta</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.588809</string>
		<key>lng</key>
		<string>-46.62115</string>
		<key>location</key>
		<string>R. Serafim Orlange, 299</string>
		<key>name</key>
		<string>Pão de Açúcar - Ricardo Jafet</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.588188</string>
		<key>lng</key>
		<string>-46.6766904</string>
		<key>location</key>
		<string>R. João Cachoeira, 899</string>
		<key>name</key>
		<string>Extra - Itaim Bibi</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.586408</string>
		<key>lng</key>
		<string>-46.7237286</string>
		<key>location</key>
		<string>Av. Prof. Francisco Morato, 2585</string>
		<key>name</key>
		<string>Supercenter Morumbi</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.586178</string>
		<key>lng</key>
		<string>-46.610714</string>
		<key>location</key>
		<string>Av. Nazaré, 301</string>
		<key>name</key>
		<string>Corpo de Bombeiros</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5856831</string>
		<key>lng</key>
		<string>-46.7603042</string>
		<key>location</key>
		<string>Rod. Raposo Tavares, 23033</string>
		<key>name</key>
		<string>Supercenter Granja Viana</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.585651</string>
		<key>lng</key>
		<string>-46.721854</string>
		<key>location</key>
		<string>Av. Prof. Francisco Morato, 2385</string>
		<key>name</key>
		<string>Pão de Açucar - Morumbi</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.583464</string>
		<key>lng</key>
		<string>-46.670707</string>
		<key>location</key>
		<string>R. Joaquim Floriano, 24</string>
		<key>name</key>
		<string>Pão de Açúcar - Joaquim Floriano</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.582263</string>
		<key>lng</key>
		<string>-46.733664</string>
		<key>location</key>
		<string>R. Azem Abdalla Azem, 800</string>
		<key>name</key>
		<string>Corpo de Bombeiros</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.580971</string>
		<key>lng</key>
		<string>-46.639278</string>
		<key>location</key>
		<string>R. Domingos de Morais, 486</string>
		<key>name</key>
		<string>Pão de Açúcar - Ana Rosa</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5802731</string>
		<key>lng</key>
		<string>-46.7456891</string>
		<key>location</key>
		<string>Av. Marechal Fiúza de Castro, S/N</string>
		<key>name</key>
		<string>Extra - Raposo Tavares</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5755999</string>
		<key>lng</key>
		<string>-46.616078</string>
		<key>location</key>
		<string>R. Pereira da Nóbrega, 23</string>
		<key>name</key>
		<string>Extra - Vila Monumento</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.574613</string>
		<key>lng</key>
		<string>-46.645748</string>
		<key>location</key>
		<string>R. Abilio Soares, 386</string>
		<key>name</key>
		<string>Pão de Açúcar - Abilio Soares</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.572606</string>
		<key>lng</key>
		<string>-46.654151</string>
		<key>location</key>
		<string>Av. Brig. Luis Antonio, 3026</string>
		<key>name</key>
		<string>Pão de Açúcar - Loja 1</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.57145</string>
		<key>lng</key>
		<string>-46.681112</string>
		<key>location</key>
		<string>Al. Gabriel Monteiro da Silva, 1351</string>
		<key>name</key>
		<string>Pão de Açúcar - Gabriel M. da Silva</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.565904</string>
		<key>lng</key>
		<string>-46.632309</string>
		<key>location</key>
		<string>R. Conselheiro Furtado, 1440</string>
		<key>name</key>
		<string>Compre Bem - Conselhero Furtado</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5658746</string>
		<key>lng</key>
		<string>-46.6477687</string>
		<key>location</key>
		<string>Av. Brig. Luis Antonio, 2013</string>
		<key>name</key>
		<string>Extra - Brigadeiro</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5651579</string>
		<key>lng</key>
		<string>-46.5074134</string>
		<key>location</key>
		<string>Av. Aricanduva, 5555</string>
		<key>name</key>
		<string>Extra - Aricanduva</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.564523</string>
		<key>lng</key>
		<string>-46.617088</string>
		<key>location</key>
		<string>R. José Bento, 15</string>
		<key>name</key>
		<string>Corpo de Bombeiros</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.564276</string>
		<key>lng</key>
		<string>-46.689659</string>
		<key>location</key>
		<string>R. Dep. Lacerda Franco, 53</string>
		<key>name</key>
		<string>Supermercado Mambo</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.56307</string>
		<key>lng</key>
		<string>-46.686695</string>
		<key>location</key>
		<string>R. Teodoro Sampaio, 1933</string>
		<key>name</key>
		<string>Pão de Açúcar - Teodoro</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.562563</string>
		<key>lng</key>
		<string>-46.640698</string>
		<key>location</key>
		<string>R. Pedroso, 215</string>
		<key>name</key>
		<string>Pão de Açucar - Pedroso</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.561182</string>
		<key>lng</key>
		<string>-46.674305</string>
		<key>location</key>
		<string>Av. Alves Guimarães, 50</string>
		<key>name</key>
		<string>Pão de Açúcar - Rebouças</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5584754</string>
		<key>lng</key>
		<string>-46.3999118</string>
		<key>location</key>
		<string>Av. Miguel Achiole da Fonseca, 1068</string>
		<key>name</key>
		<string>Todo Dia - Achipole - Guaianazes</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.55806</string>
		<key>lng</key>
		<string>-46.584954</string>
		<key>location</key>
		<string>R. Dr. João Inácio Teixeira, 91</string>
		<key>name</key>
		<string>Corpo de Bombeiros</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.557398047</string>
		<key>lng</key>
		<string>-46.747190952</string>
		<key>location</key>
		<string>Av. Corifeu de Azevedo Marques, S/N</string>
		<key>name</key>
		<string>Extra - Jaguaré</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5544044</string>
		<key>lng</key>
		<string>-46.6000712</string>
		<key>location</key>
		<string>R. Javari, 403</string>
		<key>name</key>
		<string>Extra - Mooca</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.553213</string>
		<key>lng</key>
		<string>-46.709639</string>
		<key>location</key>
		<string>Praça Pan Americana, 217</string>
		<key>name</key>
		<string>Pão de Açúcar - Praça Panamericana</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.550956</string>
		<key>lng</key>
		<string>-46.655773</string>
		<key>location</key>
		<string>R. da Consolação, 1663</string>
		<key>name</key>
		<string>Corpo de Bombeiros</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.550788</string>
		<key>lng</key>
		<string>-46.631758</string>
		<key>location</key>
		<string>Praça Clóvis Beviláqua, 421</string>
		<key>name</key>
		<string>Corpo de Bombeiros</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.54954</string>
		<key>lng</key>
		<string>-46.682284</string>
		<key>location</key>
		<string>R. Heitor Penteado, 250</string>
		<key>name</key>
		<string>Pão de Açúcar - Sumaré</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.548123</string>
		<key>lng</key>
		<string>-46.568328</string>
		<key>location</key>
		<string>R. Serra do Japi, S/N</string>
		<key>name</key>
		<string>Pão de Açúcar - Tatuapé</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5458454</string>
		<key>lng</key>
		<string>-46.6694778</string>
		<key>location</key>
		<string>Praça Wendell Wilkie, 11</string>
		<key>name</key>
		<string>Pão de Açúcar - Pacaembu</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5448702</string>
		<key>lng</key>
		<string>-46.5886905</string>
		<key>location</key>
		<string>R. Padre Adelino, 685</string>
		<key>name</key>
		<string>Sam&apos;s Radial</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.544336</string>
		<key>lng</key>
		<string>-46.565229</string>
		<key>location</key>
		<string>R. Serra da Bragança, 1086</string>
		<key>name</key>
		<string>Pintou Limpeza - Lar Sirio para Crianças</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.544302</string>
		<key>lng</key>
		<string>-46.681699</string>
		<key>location</key>
		<string>R. Prof. Afonso Bovero, 152</string>
		<key>name</key>
		<string>Pão de Açúcar - Afonso Bovero</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.542983</string>
		<key>lng</key>
		<string>-46.659518</string>
		<key>location</key>
		<string>R. Maranhão, 846</string>
		<key>name</key>
		<string>Pão de Açucar - Maranhão</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5427103</string>
		<key>lng</key>
		<string>-46.4246434</string>
		<key>location</key>
		<string>Est. Itaquera Guaianazes, 2671</string>
		<key>name</key>
		<string>Extra - Guaianazes</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5415947</string>
		<key>lng</key>
		<string>-46.83479</string>
		<key>location</key>
		<string>Av. Inocêncio Seráfico, 2390</string>
		<key>name</key>
		<string>Todo Dia - Copiuva</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.54117</string>
		<key>lng</key>
		<string>-46.7672421</string>
		<key>location</key>
		<string>Av. dos Autonomistas, 1400</string>
		<key>name</key>
		<string>Extra - Osasco Shopping União</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5395177</string>
		<key>lng</key>
		<string>-46.8302995</string>
		<key>location</key>
		<string>Est. do Cabreúva, 1570</string>
		<key>name</key>
		<string>Todo Dia - Bet-Saida II</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.539393</string>
		<key>lng</key>
		<string>-46.697374</string>
		<key>location</key>
		<string>R. Aurélia, 1973</string>
		<key>name</key>
		<string>Supermercado Mambo</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.538956</string>
		<key>lng</key>
		<string>-46.565125</string>
		<key>location</key>
		<string>R. Apucarana, 131</string>
		<key>name</key>
		<string>Corpo de Bombeiros</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.538868</string>
		<key>lng</key>
		<string>-46.771202</string>
		<key>location</key>
		<string>Av. Autonomistas, 1828</string>
		<key>name</key>
		<string>Supercenter Osasco</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.535504</string>
		<key>lng</key>
		<string>-46.666461</string>
		<key>location</key>
		<string>R. Cardoso de Almeida, 472</string>
		<key>name</key>
		<string>Pão de Açúcar - Cardoso</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.535257</string>
		<key>lng</key>
		<string>-46.7132414</string>
		<key>location</key>
		<string>R. Bairi, 435</string>
		<key>name</key>
		<string>Pão de Açúcar - Cerro Corá</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.53524</string>
		<key>lng</key>
		<string>-46.446712</string>
		<key>location</key>
		<string>R. Dr. Álvaro de Mendonça, 456</string>
		<key>name</key>
		<string>Pintou Limpeza - Obra Dom Bosco</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.528731</string>
		<key>lng</key>
		<string>-46.625375</string>
		<key>location</key>
		<string>Av. Cruzeiro do Sul, 400</string>
		<key>name</key>
		<string>Pintou Limpeza - Colégio da Polícia</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5280791</string>
		<key>lng</key>
		<string>-46.6979843</string>
		<key>location</key>
		<string>R. Tito, 639</string>
		<key>name</key>
		<string>Pão de Açúcar - Vila Romana</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5255385</string>
		<key>lng</key>
		<string>-46.690291</string>
		<key>location</key>
		<string>Praça Cornélia, 101</string>
		<key>name</key>
		<string>PEV Reciclázaro</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5236772</string>
		<key>lng</key>
		<string>-46.8225916</string>
		<key>location</key>
		<string>Av. Dr. Eduardo Cunha Abreu, 1455</string>
		<key>name</key>
		<string>Extra - Carapicuiba</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5230959</string>
		<key>lng</key>
		<string>-46.6504198</string>
		<key>location</key>
		<string>Av. Rudge, 500</string>
		<key>name</key>
		<string>Sam&apos;s Bom Retiro</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5227968</string>
		<key>lng</key>
		<string>-46.7412907</string>
		<key>location</key>
		<string>Av. Dr. Gastão Vidigal, 2345</string>
		<key>name</key>
		<string>Supercenter Vila Leopoldina</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5227811</string>
		<key>lng</key>
		<string>-46.6574097</string>
		<key>location</key>
		<string>R. James Holland, 668</string>
		<key>name</key>
		<string>Supercenter Pacaembu</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.522173</string>
		<key>lng</key>
		<string>-46.725119</string>
		<key>location</key>
		<string>R. Aliança Liberal, 322</string>
		<key>name</key>
		<string>Supermercado Mambo</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.522161</string>
		<key>lng</key>
		<string>-46.463604</string>
		<key>location</key>
		<string>R. Guarapa, 15</string>
		<key>name</key>
		<string>Associação de Catadores da Vila Jacupia</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.518742008</string>
		<key>lng</key>
		<string>-46.554908752</string>
		<key>location</key>
		<string>Av. Cond. Elisabeth Robiano, 5500</string>
		<key>name</key>
		<string>Extra - Tietê</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.517001</string>
		<key>lng</key>
		<string>-46.5186695</string>
		<key>location</key>
		<string>Av. São Miguel, 962</string>
		<key>name</key>
		<string>Extra - Penha</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5166831</string>
		<key>lng</key>
		<string>-46.7263332</string>
		<key>location</key>
		<string>Av. Samuel Klabin, 193</string>
		<key>name</key>
		<string>Extra - Anhanguera</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.513339</string>
		<key>lng</key>
		<string>-46.672905</string>
		<key>location</key>
		<string>Av. Prof. Celestino Bourrol, 100</string>
		<key>name</key>
		<string>Pintou Limpeza - Estadão</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5130287</string>
		<key>lng</key>
		<string>-46.6593668</string>
		<key>location</key>
		<string>R. Bernardino Fanganiello, 349</string>
		<key>name</key>
		<string>Pão de Açúcar - Casa Verde</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.512913</string>
		<key>lng</key>
		<string>-46.699318</string>
		<key>location</key>
		<string>R. Mateo Forte, 216</string>
		<key>name</key>
		<string>Pintou Limpeza - Sabó</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.51076</string>
		<key>lng</key>
		<string>-46.666037</string>
		<key>location</key>
		<string>Av. Ordem e Progresso, 1020</string>
		<key>name</key>
		<string>Corpo de Bombeiros</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.509283</string>
		<key>lng</key>
		<string>-46.731539</string>
		<key>location</key>
		<string>Av. Alexandre Colares, 340</string>
		<key>name</key>
		<string>Rodonaves Transportes - Projeto Reciclar</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5082556</string>
		<key>lng</key>
		<string>-46.6055458</string>
		<key>location</key>
		<string>Av. Joaquina Ramalho, 340</string>
		<key>name</key>
		<string>Supercenter Vila Guilherme</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.506306710</string>
		<key>lng</key>
		<string>-46.55514478</string>
		<key>location</key>
		<string>Al. Josefina L. Zamataro, S/N</string>
		<key>name</key>
		<string>Ponte Grande</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.505615</string>
		<key>lng</key>
		<string>-46.607803</string>
		<key>location</key>
		<string>Rua Ida da Silva, 89</string>
		<key>name</key>
		<string>Projeto Recriar - Ed. Ambiental e Coleta Seletiva</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.505055</string>
		<key>lng</key>
		<string>-46.626292</string>
		<key>location</key>
		<string>R. Voluntários da Patria, 1723</string>
		<key>name</key>
		<string>Pão de Açucar - Santana</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5048201</string>
		<key>lng</key>
		<string>-46.6899797</string>
		<key>location</key>
		<string>Av. Nossa Sra do Ó, 1725</string>
		<key>name</key>
		<string>Extra - Freguesia do Ó</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.503983</string>
		<key>lng</key>
		<string>-46.627028</string>
		<key>location</key>
		<string>Av. Brás Leme, 3351</string>
		<key>name</key>
		<string>Corpo de Bombeiros</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5017527</string>
		<key>lng</key>
		<string>-46.8359953</string>
		<key>location</key>
		<string>Al. Araguaia, 2751</string>
		<key>name</key>
		<string>Supercenter Tamboré</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5013052</string>
		<key>lng</key>
		<string>-46.6375981</string>
		<key>location</key>
		<string>R. Dr. César, 1234</string>
		<key>name</key>
		<string>Pão de Açúcar - Dr. César</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5011625</string>
		<key>lng</key>
		<string>-46.8372983</string>
		<key>location</key>
		<string>Av. Tucunare, 80</string>
		<key>name</key>
		<string>Sam&apos;s Tambore</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5009444</string>
		<key>lng</key>
		<string>-46.4701346</string>
		<key>location</key>
		<string>Av. São Miguel, 6818</string>
		<key>name</key>
		<string>Extra - São Miguel</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.495738</string>
		<key>lng</key>
		<string>-46.852123</string>
		<key>location</key>
		<string>Al. Madeira, 152</string>
		<key>name</key>
		<string>Pão de Açúcar - Alphaville</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.492197</string>
		<key>lng</key>
		<string>-46.87003</string>
		<key>location</key>
		<string>R. Marte, 624</string>
		<key>name</key>
		<string>Pão de Açúcar - Alphaville II</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.487946</string>
		<key>lng</key>
		<string>-46.622463</string>
		<key>location</key>
		<string>Av. Nova Cantareira, 240</string>
		<key>name</key>
		<string>Pão de Açúcar - Nova Cantareira</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4831061</string>
		<key>lng</key>
		<string>-46.6348002</string>
		<key>location</key>
		<string>Av. Engenheiro Caetano Álvares, 6000</string>
		<key>name</key>
		<string>Extra - Mandaqui</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4756678</string>
		<key>lng</key>
		<string>-46.6972294</string>
		<key>location</key>
		<string>Michihisa Murata, S/N</string>
		<key>name</key>
		<string>Espaço Criança Esperança</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4749333</string>
		<key>lng</key>
		<string>-46.5281872</string>
		<key>location</key>
		<string>R. Jose Bernardo Medeiros, S/N</string>
		<key>name</key>
		<string>Supercenter Guarulhos</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4726602</string>
		<key>lng</key>
		<string>-46.5257558</string>
		<key>location</key>
		<string>R. Padre Celestino, 400</string>
		<key>name</key>
		<string>Sam&apos;s Guarulhos</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4725811</string>
		<key>lng</key>
		<string>-46.526115</string>
		<key>location</key>
		<string>Av. Antonio de Souza, 300</string>
		<key>name</key>
		<string>Extra - Guarulhos</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.47035</string>
		<key>lng</key>
		<string>-46.524534</string>
		<key>location</key>
		<string>Av. Estilac Leal, 26</string>
		<key>name</key>
		<string>Macedo</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.469446475</string>
		<key>lng</key>
		<string>-46.539319753</string>
		<key>location</key>
		<string>R. Nadir, S/N</string>
		<key>name</key>
		<string>Gopoúva</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.666859</string>
		<key>lng</key>
		<string>-46.721111</string>
		<key>location</key>
		<string>Av.Guarapiranga, 752</string>
		<key>name</key>
		<string>Extra - Guarapiranga</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.665867</string>
		<key>lng</key>
		<string>-46.68939</string>
		<key>location</key>
		<string>R. Moacir Simões da Rocha, 105</string>
		<key>name</key>
		<string>Extra Perto - Sabará</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.6648483</string>
		<key>lng</key>
		<string>-46.6789122</string>
		<key>location</key>
		<string>Av. Sarg. Geraldo Santana, 1491</string>
		<key>name</key>
		<string>Extra - Interlagos</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.6647364</string>
		<key>lng</key>
		<string>-46.4322787</string>
		<key>location</key>
		<string>Av. Barão de Mauá, 3207</string>
		<key>name</key>
		<string>Todo Dia - Barão De Maua</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.6643498</string>
		<key>lng</key>
		<string>-46.4495631</string>
		<key>location</key>
		<string>Av. Barão de Mauá, 1389</string>
		<key>name</key>
		<string>COOP - Unidade Mauá</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.6636552</string>
		<key>lng</key>
		<string>-46.5233298</string>
		<key>location</key>
		<string>R. Dona Gertrudes Lima, 658</string>
		<key>name</key>
		<string>COOP - Unidade Perimetral</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.6610335</string>
		<key>lng</key>
		<string>-46.7081798</string>
		<key>location</key>
		<string>R. Benedito Fernandes, 270</string>
		<key>name</key>
		<string>Sam&apos;s Sto Amaro</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.6555089</string>
		<key>lng</key>
		<string>-46.6926965</string>
		<key>location</key>
		<string>Av. Washington Luis, 1415</string>
		<key>name</key>
		<string>Supercenter Washington Luís</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.655508</string>
		<key>lng</key>
		<string>-46.691444</string>
		<key>location</key>
		<string>R. Sócrates, 120</string>
		<key>name</key>
		<string>Pão de Açúcar - Socrates</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.6549819</string>
		<key>lng</key>
		<string>-46.52443</string>
		<key>location</key>
		<string>Av. Queirós Santos, 456</string>
		<key>name</key>
		<string>COOP - Unidade Queirós</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.653137</string>
		<key>lng</key>
		<string>-46.66869</string>
		<key>location</key>
		<string>Av. Ver. João de Lucca, 1005</string>
		<key>name</key>
		<string>Extra Perto - João de Lucca</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.651664</string>
		<key>lng</key>
		<string>-46.638323</string>
		<key>location</key>
		<string>Av. Eng. Armando Pereira, 2022</string>
		<key>name</key>
		<string>Pão de Açúcar - Jabaquara</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.6512173</string>
		<key>lng</key>
		<string>-46.5758578</string>
		<key>location</key>
		<string>Av. Dr. Rudge Ramos, 500</string>
		<key>name</key>
		<string>COOP - Unidade Rudge Ramos</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.648553</string>
		<key>lng</key>
		<string>-46.540123</string>
		<key>location</key>
		<string>R. das Figueiras, 975</string>
		<key>name</key>
		<string>Pão de Açúcar - Figueiras</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.644774</string>
		<key>lng</key>
		<string>-46.5232627</string>
		<key>location</key>
		<string>Av. Antonio Cardoso, 536</string>
		<key>name</key>
		<string>Sam&apos;s Santo André</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.6408275</string>
		<key>lng</key>
		<string>-46.4980967</string>
		<key>location</key>
		<string>Av. das Nações, 1600</string>
		<key>name</key>
		<string>COOP - Unidade Capuava</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.640198</string>
		<key>lng</key>
		<string>-46.673799</string>
		<key>location</key>
		<string>Av. Washington Luis, 3919</string>
		<key>name</key>
		<string>Pão de Açucar - Washington Luis</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.639205</string>
		<key>lng</key>
		<string>-46.652794</string>
		<key>location</key>
		<string>R. Orlando Murgel, 161</string>
		<key>name</key>
		<string>Pintou Limpeza - Obra Cruz de Malta</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.6384889</string>
		<key>lng</key>
		<string>-46.5177471</string>
		<key>location</key>
		<string>Av. Suiça, 1094</string>
		<key>name</key>
		<string>COOP - Unidade Pq das Nações</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.6383368</string>
		<key>lng</key>
		<string>-46.5397103</string>
		<key>location</key>
		<string>Av. Industrial, 2001</string>
		<key>name</key>
		<string>COOP - Unidade Industrial</string>
		<key>type</key>
		<string>pev</string>
	</dict>
</array>
</plist>
