<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict> <key>lat</key><string>-23.6380539</string> <key>lng</key><string>-46.5341478</string> <key>id</key><string>5745</string> <key>type</key><string>pev</string> <key>name</key>      <string>Supercenter Sto André                                                                    </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.629461</string> <key>lng</key><string>-46.6675888</string> <key>id</key><string>3835</string> <key>type</key><string>pev</string> <key>name</key>       <string>Extra Aeroporto                                                                                  </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.629417</string> <key>lng</key><string>-46.689615</string> <key>id</key><string>1351</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açúcar - Borba Gato                                                                       </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.6288887</string> <key>lng</key><string>-46.6451343</string> <key>id</key><string>5736</string> <key>type</key><string>pev</string> <key>name</key>      <string>Supercenter Indianopolis                                                                   </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.6253623</string> <key>lng</key><string>-46.547402</string> <key>id</key><string>4351</string> <key>type</key><string>pev</string> <key>name</key>       <string>COOP - Unidade São Caetano                                                                       </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.6242309</string> <key>lng</key><string>-46.6871827</string> <key>id</key><string>5791</string> <key>type</key><string>pev</string> <key>name</key>      <string>Extra - João Dias                                                                   </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.6239733</string> <key>lng</key><string>-46.710294</string> <key>id</key><string>3834</string> <key>type</key><string>pev</string> <key>name</key>       <string>Extra - Morumbi                                                                                    </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.622456</string> <key>lng</key><string>-46.684753</string> <key>id</key><string>1378</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açúcar - Santo Amaro                                                                      </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.621037</string> <key>lng</key><string>-46.563622</string> <key>id</key><string>1387</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açúcar - São Caetano                                                                      </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.617913</string> <key>lng</key><string>-46.635608</string> <key>id</key><string>1379</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açucar - Saúde                                                                            </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.615231</string> <key>lng</key><string>-46.742249</string> <key>id</key><string>1375</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açúcar - Portal                                                                           </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.614422</string> <key>lng</key><string>-46.67902</string> <key>id</key><string>1352</string> <key>type</key><string>pev</string>  <key>name</key>        <string>Pão de  Açúcar - Brooklin                                                                        </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.6140091</string> <key>lng</key><string>-46.5775779</string> <key>id</key><string>5814</string> <key>type</key><string>pev</string> <key>name</key>      <string>Extra - São Caetano do Sul                                                          </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.6135351</string> <key>lng</key><string>-46.640201</string> <key>id</key><string>5474</string> <key>type</key><string>pev</string> <key>name</key>       <string>Pão de Açúcar - Guatás                                                                           </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.612863</string> <key>lng</key><string>-46.666364</string> <key>id</key><string>1369</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açúcar - Maracatins                                                                       </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.6124853</string> <key>lng</key><string>-46.4883332</string> <key>id</key><string>5766</string> <key>type</key><string>pev</string> <key>name</key>      <string>Todo Dia - São Mateus                                                                        </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.6112862</string> <key>lng</key><string>-46.5720988</string> <key>id</key><string>5717</string> <key>type</key><string>pev</string> <key>name</key>      <string>Sam's São Caetano                                                                          </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.6103234</string> <key>lng</key><string>-46.6865688</string> <key>id</key><string>5492</string> <key>type</key><string>pev</string> <key>name</key>      <string>Pão de Açúcar - Padre Antonio                                                                    </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.609553</string> <key>lng</key><string>-46.667999</string> <key>id</key><string>1372</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açúcar - Moema                                                                            </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.609216671</string> <key>lng</key><string>-46.75330638</string> <key>id</key><string>5804</string> <key>type</key><string>pev</string> <key>name</key>   <string>Extra - Taboão da Serra                                                             </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.6085331</string> <key>lng</key><string>-46.7569892</string> <key>id</key><string>5769</string> <key>type</key><string>pev</string> <key>name</key>      <string>Todo Dia - Taboão                                                                            </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.604409</string> <key>lng</key><string>-46.727463</string> <key>id</key><string>1336</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pintou Limpeza - Santo Américo                                                                   </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.602905</string> <key>lng</key><string>-46.650388</string> <key>id</key><string>1376</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açúcar - Rubem Berta                                                                      </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.6026774</string> <key>lng</key><string>-46.6394517</string> <key>id</key><string>5494</string> <key>type</key><string>pev</string> <key>name</key>      <string>Pão de Açúcar - Vila Clementino                                                                  </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.6026008</string> <key>lng</key><string>-46.725213</string> <key>id</key><string>4302</string> <key>type</key><string>pev</string> <key>name</key>       <string>Eco Ponto Giovane                                                                                </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.600853</string> <key>lng</key><string>-46.666669</string> <key>id</key><string>1367</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açucar - Lavandisca                                                                       </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.599883</string> <key>lng</key><string>-46.658893</string> <key>id</key><string>1328</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açúcar - Ibirapuera                                                                       </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5984508</string> <key>lng</key><string>-46.516504</string> <key>id</key><string>5767</string> <key>type</key><string>pev</string> <key>name</key>       <string>Todo Dia - Sapopemba                                                                         </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.593219</string> <key>lng</key><string>-46.677284</string> <key>id</key><string>1356</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açúcar - Clodomiro Amazonas                                                               </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.592345908</string> <key>lng</key><string>-46.836090087</string> <key>id</key><string>4297</string> <key>type</key><string>pev</string> <key>name</key>  <string>Pão de Açúcar - Granja Viana                                                                     </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5905973</string> <key>lng</key><string>-46.6201422</string> <key>id</key><string>5819</string> <key>type</key><string>pev</string> <key>name</key>      <string>Extra - Ricardo Jafet                                                               </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5902831</string> <key>lng</key><string>-46.733109</string> <key>id</key><string>3831</string> <key>type</key><string>pev</string> <key>name</key>       <string>Extra - Anchieta                                                                                   </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.588809</string> <key>lng</key><string>-46.62115</string> <key>id</key><string>2652</string> <key>type</key><string>pev</string> <key>name</key>         <string>Pão de Açúcar - Ricardo Jafet                                                                    </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.588188</string> <key>lng</key><string>-46.6766904</string> <key>id</key><string>3828</string> <key>type</key><string>pev</string> <key>name</key>       <string>Extra - Itaim Bibi                                                                                 </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.586408</string> <key>lng</key><string>-46.7237286</string> <key>id</key><string>5739</string> <key>type</key><string>pev</string> <key>name</key>       <string>Supercenter Morumbi                                                                        </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.586178</string> <key>lng</key><string>-46.610714</string> <key>id</key><string>2582</string> <key>type</key><string>pev</string> <key>name</key>        <string>Corpo de Bombeiros                                                                     </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5856831</string> <key>lng</key><string>-46.7603042</string> <key>id</key><string>5734</string> <key>type</key><string>pev</string> <key>name</key>      <string>Supercenter Granja Viana                                                                   </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.585651</string> <key>lng</key><string>-46.721854</string> <key>id</key><string>1373</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açucar - Morumbi                                                                          </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.583464</string> <key>lng</key><string>-46.670707</string> <key>id</key><string>1366</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açúcar - Joaquim Floriano                                                                 </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.582263</string> <key>lng</key><string>-46.733664</string> <key>id</key><string>2577</string> <key>type</key><string>pev</string> <key>name</key>        <string>Corpo de Bombeiros                                                                     </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.580971</string> <key>lng</key><string>-46.639278</string> <key>id</key><string>1350</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açúcar - Ana Rosa                                                                         </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5802731</string> <key>lng</key><string>-46.7456891</string> <key>id</key><string>3837</string> <key>type</key><string>pev</string> <key>name</key>      <string>Extra Raposo Tavares                                                                             </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.580273</string> <key>lng</key><string>-46.745689</string> <key>id</key><string>3600</string> <key>type</key><string>pev</string> <key>name</key>        <string>Raposo Tavares - SP                                                                             </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5755999</string> <key>lng</key><string>-46.616078</string> <key>id</key><string>5789</string> <key>type</key><string>pev</string> <key>name</key>       <string>Extra - Vila Monumento                                                              </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.574613</string> <key>lng</key><string>-46.645748</string> <key>id</key><string>2647</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açúcar - Abilio Soares                                                                    </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.572606</string> <key>lng</key><string>-46.654151</string> <key>id</key><string>1368</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açúcar - Loja 1                                                                           </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.57145</string> <key>lng</key><string>-46.681112</string> <key>id</key><string>1361</string> <key>type</key><string>pev</string> <key>name</key>         <string>Pão de Açúcar - Gabriel M. da Silva                                                              </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.565904</string> <key>lng</key><string>-46.632309</string> <key>id</key><string>1359</string> <key>type</key><string>pev</string> <key>name</key>        <string>Compre Bem - Conselhero Furtado                                                                  </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5658746</string> <key>lng</key><string>-46.6477687</string> <key>id</key><string>3829</string> <key>type</key><string>pev</string> <key>name</key>      <string>Extra - Brigadeiro                                                                                </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5651579</string> <key>lng</key><string>-46.5074134</string> <key>id</key><string>5793</string> <key>type</key><string>pev</string> <key>name</key>      <string>Extra - Aricanduva                                                                  </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.564523</string> <key>lng</key><string>-46.617088</string> <key>id</key><string>2578</string> <key>type</key><string>pev</string> <key>name</key>        <string>Corpo de Bombeiros                                                                     </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.564276</string> <key>lng</key><string>-46.689659</string> <key>id</key><string>2589</string> <key>type</key><string>pev</string> <key>name</key>        <string>Sup. Mambo                                                                              </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.56307</string> <key>lng</key><string>-46.686695</string> <key>id</key><string>1383</string> <key>type</key><string>pev</string> <key>name</key>         <string>Pão de Açúcar - Teodoro                                                                          </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.562563</string> <key>lng</key><string>-46.640698</string> <key>id</key><string>1374</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açucar - Pedroso                                                                          </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.561182</string> <key>lng</key><string>-46.674305</string> <key>id</key><string>2651</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açúcar - Rebouças                                                                         </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5584754</string> <key>lng</key><string>-46.3999118</string> <key>id</key><string>6496</string> <key>type</key><string>pev</string> <key>name</key>      <string>Todo Dia - Achipole - Guaianazes                                                                   </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.55806</string> <key>lng</key><string>-46.584954</string> <key>id</key><string>2583</string> <key>type</key><string>pev</string> <key>name</key>         <string>Corpo de Bombeiros                                                                     </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.557398047</string> <key>lng</key><string>-46.747190952</string> <key>id</key><string>5803</string> <key>type</key><string>pev</string> <key>name</key>  <string>Extra - Jaguaré                                                                     </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5544044</string> <key>lng</key><string>-46.6000712</string> <key>id</key><string>5788</string> <key>type</key><string>pev</string> <key>name</key>      <string>Extra - Mooca                                                                       </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.553213</string> <key>lng</key><string>-46.709639</string> <key>id</key><string>2650</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açúcar - Praça Panamericana                                                               </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.550956</string> <key>lng</key><string>-46.655773</string> <key>id</key><string>2580</string> <key>type</key><string>pev</string> <key>name</key>        <string>Corpo de Bombeiros                                                                     </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.550788</string> <key>lng</key><string>-46.631758</string> <key>id</key><string>2585</string> <key>type</key><string>pev</string> <key>name</key>        <string>Corpo de Bombeiros                                                                     </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.54954</string> <key>lng</key><string>-46.682284</string> <key>id</key><string>1381</string> <key>type</key><string>pev</string> <key>name</key>         <string>Pão de Açúcar - Sumaré                                                                           </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.548123</string> <key>lng</key><string>-46.568328</string> <key>id</key><string>1382</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açúcar - Tatuapé                                                                          </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5458454</string> <key>lng</key><string>-46.6694778</string> <key>id</key><string>2649</string> <key>type</key><string>pev</string> <key>name</key>      <string>Pão de Açúcar - Pacaembu                                                                         </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5448702</string> <key>lng</key><string>-46.5886905</string> <key>id</key><string>5711</string> <key>type</key><string>pev</string> <key>name</key>      <string>Sam's Radial                                                                               </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.544336</string> <key>lng</key><string>-46.565229</string> <key>id</key><string>1344</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pintou Limpeza - Lar Sirio para Crianças                                                         </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.544302</string> <key>lng</key><string>-46.681699</string> <key>id</key><string>2653</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açúcar - Afonso Bovero                                                                    </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.542983</string> <key>lng</key><string>-46.659518</string> <key>id</key><string>1370</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açucar - Maranhão                                                                         </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5427103</string> <key>lng</key><string>-46.4246434</string> <key>id</key><string>5799</string> <key>type</key><string>pev</string> <key>name</key>      <string>Extra - Guaianazes                                                                  </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5415947</string> <key>lng</key><string>-46.83479</string> <key>id</key><string>5760</string> <key>type</key><string>pev</string> <key>name</key>        <string>Todo Dia - Copiuva                                                                           </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.54117</string> <key>lng</key><string>-46.7672421</string> <key>id</key><string>5801</string> <key>type</key><string>pev</string> <key>name</key>        <string>Extra - Osasco Shopping União                                                       </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5395177</string> <key>lng</key><string>-46.8302995</string> <key>id</key><string>5757</string> <key>type</key><string>pev</string> <key>name</key>      <string>Todo Dia - Bet-Saida II                                                                      </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.539393</string> <key>lng</key><string>-46.697374</string> <key>id</key><string>2588</string> <key>type</key><string>pev</string> <key>name</key>        <string>Sup. Mambo                                                                              </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.538956</string> <key>lng</key><string>-46.565125</string> <key>id</key><string>2586</string> <key>type</key><string>pev</string> <key>name</key>        <string>Corpo de Bombeiros                                                                     </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5387915</string> <key>lng</key><string>-46.7720491</string> <key>id</key><string>-2</string> <key>type</key><string>pev</string> <key>name</key>        <string>Agrupamento de 2 Pontos de Entrega Voluntária                                             </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.535504</string> <key>lng</key><string>-46.666461</string> <key>id</key><string>1331</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açúcar - Cardoso                                                                          </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.535257</string> <key>lng</key><string>-46.7132414</string> <key>id</key><string>2648</string> <key>type</key><string>pev</string> <key>name</key>       <string>Pão de Açúcar - Cerro Corá                                                                       </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.53524</string> <key>lng</key><string>-46.446712</string> <key>id</key><string>1345</string> <key>type</key><string>pev</string> <key>name</key>         <string>Pintou Limpeza - Obra Dom Bosco                                                                  </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.528731</string> <key>lng</key><string>-46.625375</string> <key>id</key><string>1340</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pintou Limpeza - Colégio da Polícia                                                              </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5280791</string> <key>lng</key><string>-46.6979843</string> <key>id</key><string>5493</string> <key>type</key><string>pev</string> <key>name</key>      <string>Pão de Açúcar - Vila Romana                                                                      </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5255385</string> <key>lng</key><string>-46.690291</string> <key>id</key><string>4331</string> <key>type</key><string>pev</string> <key>name</key>       <string>PEV Reciclázaro                                                                                  </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5236772</string> <key>lng</key><string>-46.8225916</string> <key>id</key><string>5794</string> <key>type</key><string>pev</string> <key>name</key>      <string>Extra - Carapicuiba                                                                 </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5230959</string> <key>lng</key><string>-46.6504198</string> <key>id</key><string>5703</string> <key>type</key><string>pev</string> <key>name</key>      <string>Sam's Bom Retiro                                                                           </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5227968</string> <key>lng</key><string>-46.7412907</string> <key>id</key><string>5753</string> <key>type</key><string>pev</string> <key>name</key>      <string>Supercenter Vila Leopoldina                                                                </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.522795</string> <key>lng</key><string>-46.657397</string> <key>id</key><string>3209</string> <key>type</key><string>pev</string> <key>name</key>        <string>Wal-Mart - Supercenter Pacaembu                                                              </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5227811</string> <key>lng</key><string>-46.6574097</string> <key>id</key><string>5741</string> <key>type</key><string>pev</string> <key>name</key>      <string>Supercenter Pacaembu                                                                       </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.522173</string> <key>lng</key><string>-46.725119</string> <key>id</key><string>2587</string> <key>type</key><string>pev</string> <key>name</key>        <string>Sup. Mambo                                                                              </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.522161</string> <key>lng</key><string>-46.463604</string> <key>id</key><string>3408</string> <key>type</key><string>pev</string> <key>name</key>        <string>Associação de Catadores da Vila Jacupia                                                          </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.518742008</string> <key>lng</key><string>-46.554908752</string> <key>id</key><string>5832</string><key>type</key><string>pev</string> <key>name</key>   <string>Extra - Tietê                                                                       </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.517001</string> <key>lng</key><string>-46.5186695</string> <key>id</key><string>3832</string> <key>type</key><string>pev</string> <key>name</key>       <string>Extra - Penha                                                                                     </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5166831</string> <key>lng</key><string>-46.7263332</string> <key>id</key><string>5790</string> <key>type</key><string>pev</string> <key>name</key>      <string>Extra - Anhanguera                                                                  </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.513339</string> <key>lng</key><string>-46.672905</string> <key>id</key><string>1343</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pintou Limpeza - Estadão                                                                         </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5130287</string> <key>lng</key><string>-46.6593668</string> <key>id</key><string>5480</string> <key>type</key><string>pev</string> <key>name</key>      <string>Pão de Açúcar - Casa Verde                                                                       </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.512913</string> <key>lng</key><string>-46.699318</string> <key>id</key><string>1347</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pintou Limpeza - Sabó                                                                            </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.51076</string> <key>lng</key><string>-46.666037</string> <key>id</key><string>2579</string> <key>type</key><string>pev</string> <key>name</key>         <string>Corpo de Bombeiros                                                                     </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.509283</string> <key>lng</key><string>-46.731539</string> <key>id</key><string>3212</string> <key>type</key><string>pev</string> <key>name</key>        <string>Rodonaves Transportes - Projeto Reciclar                                                         </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5082556</string> <key>lng</key><string>-46.6055458</string> <key>id</key><string>5752</string> <key>type</key><string>pev</string> <key>name</key>      <string>Supercenter Vila Guilherme                                                                 </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.506306710</string> <key>lng</key><string>-46.55514478</string> <key>id</key><string>3634</string> <key>type</key><string>pev</string> <key>name</key>   <string>Ponte Grande                                                                               </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.505615</string> <key>lng</key><string>-46.607803</string> <key>id</key><string>1721</string> <key>type</key><string>pev</string> <key>name</key>        <string>Projeto Recriar - Ed. Ambiental e Coleta Seletiva                                                </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.505055</string> <key>lng</key><string>-46.626292</string> <key>id</key><string>1385</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açucar - Santana                                                                          </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5048201</string> <key>lng</key><string>-46.6899797</string> <key>id</key><string>5796</string> <key>type</key><string>pev</string> <key>name</key>      <string>Extra - Freguesia do Ó                                                              </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.503983</string> <key>lng</key><string>-46.627028</string> <key>id</key><string>2584</string> <key>type</key><string>pev</string> <key>name</key>        <string>Corpo de Bombeiros                                                                     </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5017527</string> <key>lng</key><string>-46.8359953</string> <key>id</key><string>5749</string> <key>type</key><string>pev</string> <key>name</key>      <string>Supercenter Tamboré                                                                        </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5013052</string> <key>lng</key><string>-46.6375981</string> <key>id</key><string>5469</string> <key>type</key><string>pev</string> <key>name</key>      <string>Pão de Açúcar - Dr. César                                                                        </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5011625</string> <key>lng</key><string>-46.8372983</string> <key>id</key><string>5718</string> <key>type</key><string>pev</string> <key>name</key>      <string>Sam's Tambore                                                                              </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.5009444</string> <key>lng</key><string>-46.4701346</string> <key>id</key><string>3836</string> <key>type</key><string>pev</string> <key>name</key>      <string>Extra - São Miguel                                                                                 </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.495738</string> <key>lng</key><string>-46.852123</string> <key>id</key><string>1327</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açúcar - Alphaville                                                                       </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.492197</string> <key>lng</key><string>-46.87003</string> <key>id</key><string>2625</string> <key>type</key><string>pev</string> <key>name</key>         <string>Pão de Açúcar - Alphaville II                                                                    </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.487946</string> <key>lng</key><string>-46.622463</string> <key>id</key><string>1330</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açúcar - Nova Cantareira                                                                  </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.4831061</string> <key>lng</key><string>-46.6348002</string> <key>id</key><string>5812</string> <key>type</key><string>pev</string> <key>name</key>      <string>Extra - Mandaqui                                                                    </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.4756678</string> <key>lng</key><string>-46.6972294</string> <key>id</key><string>4685</string> <key>type</key><string>pev</string> <key>name</key>      <string>Espaço Criança Esperança                                                                         </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.4749333</string> <key>lng</key><string>-46.5281872</string> <key>id</key><string>5735</string> <key>type</key><string>pev</string> <key>name</key>      <string>Supercenter Guarulhos                                                                      </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.4726602</string> <key>lng</key><string>-46.5257558</string> <key>id</key><string>5707</string> <key>type</key><string>pev</string> <key>name</key>      <string>Sam's Guarulhos                                                                            </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.4725811</string> <key>lng</key><string>-46.526115</string> <key>id</key><string>3838</string> <key>type</key><string>pev</string> <key>name</key>       <string>Extra - Guarulhos                                                                   </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.47035</string> <key>lng</key><string>-46.524534</string> <key>id</key><string>3633</string> <key>type</key><string>pev</string> <key>name</key>         <string>Macedo                                                                                     </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.469446475</string> <key>lng</key><string>-46.539319753</string> <key>id</key><string>3640</string> <key>type</key><string>pev</string><key>name</key>   <string>Gopoúva                                                                                    </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.666859</string> <key>lng</key><string>-46.721111</string> <key>id</key><string>5818</string> <key>type</key><string>pev</string> <key>name</key>        <string>Extra - Guarapiranga                                                                </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.665867</string> <key>lng</key><string>-46.68939</string> <key>id</key><string>1377</string> <key>type</key><string>pev</string> <key>name</key>         <string>Extra Perto - Sabará                                                                             </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.6648483</string> <key>lng</key><string>-46.6789122</string> <key>id</key><string>3833</string> <key>type</key><string>pev</string> <key>name</key>      <string>Extra - Interlagos                                                                                 </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.6647364</string> <key>lng</key><string>-46.4322787</string> <key>id</key><string>5756</string> <key>type</key><string>pev</string> <key>name</key>      <string>Todo Dia - Barão De Maua                                                                     </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.6643498</string> <key>lng</key><string>-46.4495631</string> <key>id</key><string>4353</string> <key>type</key><string>pev</string> <key>name</key>      <string>COOP - Unidade Mauá                                                                              </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.664348</string> <key>lng</key><string>-46.449571</string> <key>id</key><string>1339</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pintou Limpeza - Coop Mauá                                                                       </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.6636552</string> <key>lng</key><string>-46.5233298</string> <key>id</key><string>4319</string> <key>type</key><string>pev</string> <key>name</key>      <string>COOP - Unidade Perimetral                                                                        </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.6610335</string> <key>lng</key><string>-46.7081798</string> <key>id</key><string>5715</string> <key>type</key><string>pev</string> <key>name</key>      <string>Sam's Sto Amaro                                                                          </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.6555089</string> <key>lng</key><string>-46.6926965</string> <key>id</key><string>5755</string> <key>type</key><string>pev</string> <key>name</key>      <string>Supercenter Washington Luís                                                                </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.655508</string> <key>lng</key><string>-46.691444</string> <key>id</key><string>1380</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açúcar - Socrates                                                                         </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.6549819</string> <key>lng</key><string>-46.52443</string> <key>id</key><string>4345</string> <key>type</key><string>pev</string> <key>name</key>        <string>COOP - Unidade Queirós                                                                           </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.653137</string> <key>lng</key><string>-46.66869</string> <key>id</key><string>1365</string> <key>type</key><string>pev</string> <key>name</key>         <string>Extra Perto - João de Lucca                                                                      </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.651664</string> <key>lng</key><string>-46.638323</string> <key>id</key><string>1364</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açúcar - Jabaquara                                                                        </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.6512173</string> <key>lng</key><string>-46.5758578</string> <key>id</key><string>4349</string> <key>type</key><string>pev</string> <key>name</key>      <string>COOP - Unidade Rudge Ramos                                                                       </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.648553</string> <key>lng</key><string>-46.540123</string> <key>id</key><string>1428</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açúcar - Figueiras                                                            </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.644774</string> <key>lng</key><string>-46.5232627</string> <key>id</key><string>5716</string> <key>type</key><string>pev</string> <key>name</key>       <string>Sam's Santo André                                                                          </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.6408275</string> <key>lng</key><string>-46.4980967</string> <key>id</key><string>4313</string> <key>type</key><string>pev</string> <key>name</key>      <string>COOP - Unidade Capuava                                                                           </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.640198</string> <key>lng</key><string>-46.673799</string> <key>id</key><string>1386</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pão de Açucar - Washington Luis                                                                  </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.639205</string> <key>lng</key><string>-46.652794</string> <key>id</key><string>1335</string> <key>type</key><string>pev</string> <key>name</key>        <string>Pintou Limpeza - Obra Cruz de Malta                                                              </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.6384889</string> <key>lng</key><string>-46.5177471</string> <key>id</key><string>4316</string> <key>type</key><string>pev</string> <key>name</key>      <string>COOP - Unidade Parque das Nações                                                                 </string> <key>location</key><string></string> </dict>
	<dict> <key>lat</key><string>-23.6383368</string> <key>lng</key><string>-46.5397103</string> <key>id</key><string>4315</string> <key>type</key><string>pev</string> <key>name</key>      <string>COOP - Unidade Industrial                                                                        </string> <key>location</key><string></string> </dict>
</array>
</plist>
