<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lat</key>
		<string>-23.561182</string>
		<key>lng</key>
		<string>-46.674305 </string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5588082</string>
		<key>lng</key>
		<string>-46.5024698</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5311599</string>
		<key>lng</key>
		<string>-46.7320257</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.530764</string>
		<key>lng</key>
		<string>-46.580685</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.530104</string>
		<key>lng</key>
		<string>-46.443042</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5294749</string>
		<key>lng</key>
		<string>-46.846746</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.528731</string>
		<key>lng</key>
		<string>-46.625375</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.528681</string>
		<key>lng</key>
		<string>-46.615832</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5280791</string>
		<key>lng</key>
		<string>-46.6979843</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.528053</string>
		<key>lng</key>
		<string>-46.852905</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5275399</string>
		<key>lng</key>
		<string>-46.459485</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5269629</string>
		<key>lng</key>
		<string>-46.757209</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.52599</string>
		<key>lng</key>
		<string>-46.687998</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.525638</string>
		<key>lng</key>
		<string>-46.857888</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5255385</string>
		<key>lng</key>
		<string>-46.690291</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.525123</string>
		<key>lng</key>
		<string>-46.819329</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5236772</string>
		<key>lng</key>
		<string>-46.8225916</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5230959</string>
		<key>lng</key>
		<string>-46.6504198</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5227968</string>
		<key>lng</key>
		<string>-46.7412907</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.522795</string>
		<key>lng</key>
		<string>-46.657397</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5227811</string>
		<key>lng</key>
		<string>-46.6574097</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.522173</string>
		<key>lng</key>
		<string>-46.725119</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.522161</string>
		<key>lng</key>
		<string>-46.463604</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.521850649085106</string>
		<key>lng</key>
		<string>-46.63644790649414</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5218029</string>
		<key>lng</key>
		<string>-46.635544</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.521784</string>
		<key>lng</key>
		<string>-46.495742</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.521665</string>
		<key>lng</key>
		<string>-46.635567</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5214373</string>
		<key>lng</key>
		<string>-46.7799681</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.518742008215423</string>
		<key>lng</key>
		<string>-46.554908752441406</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.518491</string>
		<key>lng</key>
		<string>-46.461749</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5184609</string>
		<key>lng</key>
		<string>-46.7365218</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5183033</string>
		<key>lng</key>
		<string>-46.5755976</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.518303</string>
		<key>lng</key>
		<string>-46.575598</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.518281</string>
		<key>lng</key>
		<string>-46.5583983</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.518126</string>
		<key>lng</key>
		<string>-46.516403</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.51798</string>
		<key>lng</key>
		<string>-46.740474</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5179796</string>
		<key>lng</key>
		<string>-46.5523766</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5179629</string>
		<key>lng</key>
		<string>-46.7404952</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.517787</string>
		<key>lng</key>
		<string>-46.60686</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.517001</string>
		<key>lng</key>
		<string>-46.5186695</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5166831</string>
		<key>lng</key>
		<string>-46.7263332</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.515184</string>
		<key>lng</key>
		<string>-46.427892</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.513616</string>
		<key>lng</key>
		<string>-46.858065</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.513339</string>
		<key>lng</key>
		<string>-46.672905</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5130287</string>
		<key>lng</key>
		<string>-46.6593668</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5130194</string>
		<key>lng</key>
		<string>-46.455824</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.513019</string>
		<key>lng</key>
		<string>-46.455824</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.512913</string>
		<key>lng</key>
		<string>-46.699318</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.511141</string>
		<key>lng</key>
		<string>-46.379866</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5111111</string>
		<key>lng</key>
		<string>-46.4572087</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.51076</string>
		<key>lng</key>
		<string>-46.666037</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.509283</string>
		<key>lng</key>
		<string>-46.731539</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5092258</string>
		<key>lng</key>
		<string>-46.5488046</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.509204</string>
		<key>lng</key>
		<string>-46.548803</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5082556</string>
		<key>lng</key>
		<string>-46.6055458</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.50789</string>
		<key>lng</key>
		<string>-46.38709</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.507409</string>
		<key>lng</key>
		<string>-46.370896</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.506973</string>
		<key>lng</key>
		<string>-46.456639</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.506306710772115</string>
		<key>lng</key>
		<string>-46.55514478683472</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.505826</string>
		<key>lng</key>
		<string>-46.428999</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5058244</string>
		<key>lng</key>
		<string>-46.4290229</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.505615</string>
		<key>lng</key>
		<string>-46.607803</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.505055</string>
		<key>lng</key>
		<string>-46.626292</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5048201</string>
		<key>lng</key>
		<string>-46.6899797</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.504319</string>
		<key>lng</key>
		<string>-46.746657</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.503983</string>
		<key>lng</key>
		<string>-46.627028</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.502477</string>
		<key>lng</key>
		<string>-46.48503</string>
		<key>type</key>
		<string>ooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5017527</string>
		<key>lng</key>
		<string>-46.8359953</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.501707</string>
		<key>lng</key>
		<string>-46.722226</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5013052</string>
		<key>lng</key>
		<string>-46.6375981</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5011625</string>
		<key>lng</key>
		<string>-46.8372983</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5009444</string>
		<key>lng</key>
		<string>-46.4701346</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.500152</string>
		<key>lng</key>
		<string>-46.46757</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.500015</string>
		<key>lng</key>
		<string>-46.467573</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.499325</string>
		<key>lng</key>
		<string>-46.464637</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4982947</string>
		<key>lng</key>
		<string>-46.3866012</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4979077</string>
		<key>lng</key>
		<string>-46.7672189</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4974034</string>
		<key>lng</key>
		<string>-46.3870674</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.495738</string>
		<key>lng</key>
		<string>-46.852123</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4950802</string>
		<key>lng</key>
		<string>-46.7238692</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.494838</string>
		<key>lng</key>
		<string>-46.566182</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4938594</string>
		<key>lng</key>
		<string>-46.5056378</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.493854</string>
		<key>lng</key>
		<string>-46.378806</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.493429</string>
		<key>lng</key>
		<string>-46.470202</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.492197</string>
		<key>lng</key>
		<string>-46.87003</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.492063</string>
		<key>lng</key>
		<string>-46.46264</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.49169</string>
		<key>lng</key>
		<string>-46.45374</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4890457</string>
		<key>lng</key>
		<string>-46.5725462</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.487946</string>
		<key>lng</key>
		<string>-46.622463</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4869472</string>
		<key>lng</key>
		<string>-46.4441117</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4866933</string>
		<key>lng</key>
		<string>-46.7836934</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.483903</string>
		<key>lng</key>
		<string>-46.746635</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4831061</string>
		<key>lng</key>
		<string>-46.6348002</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4820985</string>
		<key>lng</key>
		<string>-46.4716568</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4816873</string>
		<key>lng</key>
		<string>-46.7693482</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4784321</string>
		<key>lng</key>
		<string>-46.6010627</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4756678</string>
		<key>lng</key>
		<string>-46.6972294</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4749333</string>
		<key>lng</key>
		<string>-46.5281872</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4729394</string>
		<key>lng</key>
		<string>-46.5543725</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4726602</string>
		<key>lng</key>
		<string>-46.5257558</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4725811</string>
		<key>lng</key>
		<string>-46.526115</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.472318</string>
		<key>lng</key>
		<string>-46.574147</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4721341</string>
		<key>lng</key>
		<string>-46.5742659</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.471632</string>
		<key>lng</key>
		<string>-46.779972</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4716131</string>
		<key>lng</key>
		<string>-46.5961376</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.47035</string>
		<key>lng</key>
		<string>-46.524534</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.46944647548534</string>
		<key>lng</key>
		<string>-46.53931975364685</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.467887</string>
		<key>lng</key>
		<string>-46.667173</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.467779</string>
		<key>lng</key>
		<string>-46.667311</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.467553</string>
		<key>lng</key>
		<string>-46.577574</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4657269</string>
		<key>lng</key>
		<string>-46.5716486</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4656593</string>
		<key>lng</key>
		<string>-46.5701679</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.4634523</string>
		<key>lng</key>
		<string>-46.5334502</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.463246331550348</string>
		<key>lng</key>
		<string>-46.62872314453125</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.463074</string>
		<key>lng</key>
		<string>-46.57364</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.462594</string>
		<key>lng</key>
		<string>-46.566609</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.462564</string>
		<key>lng</key>
		<string>-46.662192</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5584754</string>
		<key>lng</key>
		<string>-46.3999118</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.558428</string>
		<key>lng</key>
		<string>-46.626971</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.55806</string>
		<key>lng</key>
		<string>-46.584954</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.557398047001666</string>
		<key>lng</key>
		<string>-46.747190952301025</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5544044</string>
		<key>lng</key>
		<string>-46.6000712</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.55345</string>
		<key>lng</key>
		<string>-46.678985</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5534443</string>
		<key>lng</key>
		<string>-46.3736106</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.553303</string>
		<key>lng</key>
		<string>-46.4558843</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.553303</string>
		<key>lng</key>
		<string>-46.455884</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.553213</string>
		<key>lng</key>
		<string>-46.709639</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5518573</string>
		<key>lng</key>
		<string>-46.8180192</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.550956</string>
		<key>lng</key>
		<string>-46.655773</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.550788</string>
		<key>lng</key>
		<string>-46.631758</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5507449</string>
		<key>lng</key>
		<string>-46.4314055</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.55074</string>
		<key>lng</key>
		<string>-46.431395</string>
		<key>type</key>
		<string>ooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5497644</string>
		<key>lng</key>
		<string>-46.7980471</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5496749</string>
		<key>lng</key>
		<string>-46.5947748</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.54954</string>
		<key>lng</key>
		<string>-46.682284</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5489433</string>
		<key>lng</key>
		<string>-46.6388182</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.548693</string>
		<key>lng</key>
		<string>-46.425728</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.548123</string>
		<key>lng</key>
		<string>-46.568328</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.548023</string>
		<key>lng</key>
		<string>-46.827706</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.547882</string>
		<key>lng</key>
		<string>-46.43387</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5458454</string>
		<key>lng</key>
		<string>-46.6694778</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5448702</string>
		<key>lng</key>
		<string>-46.5886905</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.544336</string>
		<key>lng</key>
		<string>-46.565229</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.544302</string>
		<key>lng</key>
		<string>-46.681699</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.543786122229463</string>
		<key>lng</key>
		<string>-46.448060274124146</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.543511</string>
		<key>lng</key>
		<string>-46.404637</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.542983</string>
		<key>lng</key>
		<string>-46.659518</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5427103</string>
		<key>lng</key>
		<string>-46.4246434</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5415947</string>
		<key>lng</key>
		<string>-46.83479</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.54117</string>
		<key>lng</key>
		<string>-46.7672421</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5395177</string>
		<key>lng</key>
		<string>-46.8302995</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.539393</string>
		<key>lng</key>
		<string>-46.697374</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.538956</string>
		<key>lng</key>
		<string>-46.565125</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5387915</string>
		<key>lng</key>
		<string>-46.7720491</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.537974</string>
		<key>lng</key>
		<string>-46.549366</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.537881</string>
		<key>lng</key>
		<string>-46.406453</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5363079</string>
		<key>lng</key>
		<string>-46.4575163</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.535783</string>
		<key>lng</key>
		<string>-46.630715</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.535504</string>
		<key>lng</key>
		<string>-46.666461</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.535257</string>
		<key>lng</key>
		<string>-46.7132414</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.53524</string>
		<key>lng</key>
		<string>-46.446712</string>
		<key>type</key>
		<string>pev</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5330412</string>
		<key>lng</key>
		<string>-46.5563812</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5330034</string>
		<key>lng</key>
		<string>-46.462726</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.532232</string>
		<key>lng</key>
		<string>-46.602748</string>
		<key>type</key>
		<string>comercio</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>-23.5318041</string>
		<key>lng</key>
		<string>-46.5834724</string>
		<key>type</key>
		<string>cooperativa</string>
	</dict>
</array>
</plist>
