<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Places</key>
	<array>
		<dict>
			<key>lat</key>
			<string>-23.561182</string>
			<key>lng</key>
			<string>-46.674305 </string>
			<key>type</key>
			<string>pev</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.5588082</string>
			<key>lng</key>
			<string>-46.5024698</string>
			<key>type</key>
			<string>cooperativa</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.5311599</string>
			<key>lng</key>
			<string>-46.7320257</string>
			<key>type</key>
			<string>cooperativa</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.530764</string>
			<key>lng</key>
			<string>-46.580685</string>
			<key>type</key>
			<string>cooperativa</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.530104</string>
			<key>lng</key>
			<string>-46.443042</string>
			<key>type</key>
			<string>comercio</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.5294749</string>
			<key>lng</key>
			<string>-46.846746</string>
			<key>type</key>
			<string>cooperativa</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.528731</string>
			<key>lng</key>
			<string>-46.625375</string>
			<key>type</key>
			<string>pev</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.528681</string>
			<key>lng</key>
			<string>-46.615832</string>
			<key>type</key>
			<string>comercio</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.5280791</string>
			<key>lng</key>
			<string>-46.6979843</string>
			<key>type</key>
			<string>pev</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.528053</string>
			<key>lng</key>
			<string>-46.852905</string>
			<key>type</key>
			<string>cooperativa</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.5275399</string>
			<key>lng</key>
			<string>-46.459485</string>
			<key>type</key>
			<string>comercio</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.5269629</string>
			<key>lng</key>
			<string>-46.757209</string>
			<key>type</key>
			<string>comercio</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.52599</string>
			<key>lng</key>
			<string>-46.687998</string>
			<key>type</key>
			<string>cooperativa</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.525638</string>
			<key>lng</key>
			<string>-46.857888</string>
			<key>type</key>
			<string>comercio</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.5255385</string>
			<key>lng</key>
			<string>-46.690291</string>
			<key>type</key>
			<string>pev</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.525123</string>
			<key>lng</key>
			<string>-46.819329</string>
			<key>type</key>
			<string>cooperativa</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.5236772</string>
			<key>lng</key>
			<string>-46.8225916</string>
			<key>type</key>
			<string>pev</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.5230959</string>
			<key>lng</key>
			<string>-46.6504198</string>
			<key>type</key>
			<string>pev</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.5227968</string>
			<key>lng</key>
			<string>-46.7412907</string>
			<key>type</key>
			<string>pev</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.522795</string>
			<key>lng</key>
			<string>-46.657397</string>
			<key>type</key>
			<string>pev</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.5227811</string>
			<key>lng</key>
			<string>-46.6574097</string>
			<key>type</key>
			<string>pev</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.522173</string>
			<key>lng</key>
			<string>-46.725119</string>
			<key>type</key>
			<string>pev</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.522161</string>
			<key>lng</key>
			<string>-46.463604</string>
			<key>type</key>
			<string>pev</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.521850649085106</string>
			<key>lng</key>
			<string>-46.63644790649414</string>
			<key>type</key>
			<string>cooperativa</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.5218029</string>
			<key>lng</key>
			<string>-46.635544</string>
			<key>type</key>
			<string>cooperativa</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.521784</string>
			<key>lng</key>
			<string>-46.495742</string>
			<key>type</key>
			<string>cooperativa</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.521665</string>
			<key>lng</key>
			<string>-46.635567</string>
			<key>type</key>
			<string>cooperativa</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.5214373</string>
			<key>lng</key>
			<string>-46.7799681</string>
			<key>type</key>
			<string>cooperativa</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.518742008215423</string>
			<key>lng</key>
			<string>-46.554908752441406</string>
			<key>type</key>
			<string>pev</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.518491</string>
			<key>lng</key>
			<string>-46.461749</string>
			<key>type</key>
			<string>cooperativa</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.5184609</string>
			<key>lng</key>
			<string>-46.7365218</string>
			<key>type</key>
			<string>cooperativa</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.5183033</string>
			<key>lng</key>
			<string>-46.5755976</string>
			<key>type</key>
			<string>cooperativa</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.518303</string>
			<key>lng</key>
			<string>-46.575598</string>
			<key>type</key>
			<string>cooperativa</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.518281</string>
			<key>lng</key>
			<string>-46.5583983</string>
			<key>type</key>
			<string>comercio</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.518126</string>
			<key>lng</key>
			<string>-46.516403</string>
			<key>type</key>
			<string>comercio</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.51798</string>
			<key>lng</key>
			<string>-46.740474</string>
			<key>type</key>
			<string>cooperativa</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.5179796</string>
			<key>lng</key>
			<string>-46.5523766</string>
			<key>type</key>
			<string>cooperativa</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.5179629</string>
			<key>lng</key>
			<string>-46.7404952</string>
			<key>type</key>
			<string>cooperativa</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.517787</string>
			<key>lng</key>
			<string>-46.60686</string>
			<key>type</key>
			<string>comercio</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.517001</string>
			<key>lng</key>
			<string>-46.5186695</string>
			<key>type</key>
			<string>pev</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.5166831</string>
			<key>lng</key>
			<string>-46.7263332</string>
			<key>type</key>
			<string>pev</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.515184</string>
			<key>lng</key>
			<string>-46.427892</string>
			<key>type</key>
			<string>cooperativa</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.513616</string>
			<key>lng</key>
			<string>-46.858065</string>
			<key>type</key>
			<string>cooperativa</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.513339</string>
			<key>lng</key>
			<string>-46.672905</string>
			<key>type</key>
			<string>pev</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.5130287</string>
			<key>lng</key>
			<string>-46.6593668</string>
			<key>type</key>
			<string>pev</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.5130194</string>
			<key>lng</key>
			<string>-46.455824</string>
			<key>type</key>
			<string>comercio</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.513019</string>
			<key>lng</key>
			<string>-46.455824</string>
			<key>type</key>
			<string>comercio</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>-23.512913</string>
			<key>lng</key>
			<string>-46.699318</string>
			<key>type</key>
			<string>pev</string>
		</dict>
	</array>
</dict>
</plist>
